.box {
  border: 1px solid black;
  width: 500px;
}

.item-img {
  width: 400px;
  height: 400px;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.gap {
  gap: 50px;
}

.letter {
  text-align: center;
}

.win {
  border: 10px solid green;
}

.lose {
  border: 10px solid red;
}

.tie {
  border: 10px solid black;
}